PORT=5000
DATABASE_URL=postgresql://reachinbox:reachinbox@localhost:5432/reachinbox_scheduler
REDIS_HOST=localhost
REDIS_PORT=6379

GOOGLE_CLIENT_ID=92887059099-egu6eeghq0slcidsmrmci9it3u4aed1v.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
SESSION_SECRET=thisIsSecret

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=gwendolyn.muller12@ethereal.email
ETHEREAL_PASS=9VnMszcf9YM3KCQD7e

WORKER_CONCURRENCY=5
MIN_DELAY_MS=2000
MAX_EMAILS_PER_HOUR_PER_SENDER=200